{% extends 'layout.html' %}
{% load static %}

<!-- CSS -->
{% block css %}
<link rel='stylesheet' type='text/css' href="{% static 'css/checkout.css' %}">
{% endblock %}

{% block body %}
<div class="outerDiv">
	<div class="innerDiv">
		<!-- Order Summary -->
		<h5>Order Summary</h5>
		<div class="summary">
			<div class="hprice">Price</div>
			<hr style="margin: -2px 0px 4px 0px;">
			{% for product in cart %}
			<div class="product">
				<div class="product-name">
					<a href="/product/{{ product.product_id.id }}" class="product-name">{{ product.product_id.name }}</a>
				</div>
				<div class="price">
					<p class="price">₹{{ product.product_id.final_price }}</p>
				</div>
			</div>
			{% endfor %}
			<hr>
			<div class="tprice">₹{{ total_price }}</div>
		</div>
	</div>

	<div class="innerDiv">
		<!-- Shipping Address -->
		<h5>Shipping Address</h5>
		<div class="address">
			<form action="/checkout" method="POST">
				{% csrf_token %}
				<textarea class="form-control address rm-shadow input-border" name="address" placeholder="Enter address">{{ address }}</textarea>
				<div class="place_order">
					<button type="submit" class="btn btn-danger rm-shadow">Place Order</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
