{% extends 'layout.html' %}
{% load static %}

<!-- CSS -->
{% block css %}
<link rel='stylesheet' type='text/css' href="{% static 'css/main.css' %}">
{% endblock %}

{% block body %}

	<!-- Success Message -->
	{% if success_msg %}	
	<div class="alert alert-success alert-dismissible fade show success_msg" role="alert">
		{{ success_msg }}
		<button type="button" class="btn-close rm-shadow" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	{% endif %}

	{% if categories|length != 0 %}
	<div class="categories">
		{% for category in categories %}
		<div class="category">
			<button class="category" onclick="location.href = 'category/{{ category.id }}';">
				<img class="category-img" src="{% static 'categories_images/' %}{{ category.id }}.jpg" alt="{{ category.name }}">
				<h6 class="category-name">{{ category.name }}</h6>
			</button>
		</div>
		{% endfor %}
	</div>

	{% else %}
	<div class="alert alert-secondary no-result" role="alert">
		No categories found!
	</div>
	{% endif %}
{% endblock %}
