{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset='utf-8'>
	<title>Easy Shopping</title>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<!-- Bootstrap CSS-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
	<!-- CSS -->
	<link rel='stylesheet' type='text/css' href="{% static 'css/style.css' %}">
	{% block css %} {% endblock %}
	<!-- Favicon -->
	<link rel="icon" href="{% static 'logo/logo.ico' %}" type="image/ico">
</head>
<body>
	<!-- Header Division -->
	<div class="header">
		<!-- Logo -->
		<div class="logo">
			<img class="logo" src="{% static 'logo/logo.jpg' %}" alt="">
		</div>

		<!-- Menu Dropdown-->
		<div class="menu-dropdown">
			<button class="menu-dropdown" data-bs-toggle="modal" data-bs-target="#menuModal">
				<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-list menu-dropdown" viewBox="0 0 16 16">
					<path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
				</svg>
			</button>
		</div>
		
		<!-- Site name -->
		<div class="site-name">
			<a class="site-name" href="/">Easy Shopping</a>
		</div>

		<!-- Search -->
		{% if userid %}
		<div class="search-s">
		{% else %}
		<div class="search-l">
		{% endif %}
		
			<input type="text" id="query-0" class="form-control search rm-shadow" placeholder="Search">
			<button type="button" class="btn btn-light search rm-shadow" onclick="search('0');">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
					<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
				</svg>
			</button>
		</div>

		{% if userid %}
		<!-- Signout -->
		<div class="user-s">
			<button type="button" class="btn signout rm-shadow" onclick="location.href = '/signout';">Signout</button>
		</div>
		{% else %}
		<!-- Login / Register -->
		<div class="user-l">
			<button type="button" class="btn login rm-shadow" id="login" data-bs-toggle="modal" data-bs-target="#loginModal">Login</button>
			<button type="button" class="btn btn-outline-light reg rm-shadow" data-bs-toggle="modal" data-bs-target="#registerModal">Register</button>
		</div>
		{% endif %}
	</div>

	<div class="sm-header">
		<!-- Search -->
		<div class="sm-search">
			<input type="text" id="query-1" class="form-control search rm-shadow" placeholder="Search">
			<button type="button" class="btn btn-light search rm-shadow" onclick="search('1');">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
					<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
				</svg>
			</button>
		</div>
	</div>

	<!-- Menu -->
	<div class="menu">
		<div class="opts">
			<button type="button" onclick="redirect_if_logged_in('/cart');" class="opt">Cart</button>
			<button type="button" class="opt">Wishlist</button>
			<button type="button" class="opt">Orders</button>
		</div>
		{% if userid %}
		<div class="name-s">Welcome {{ uname }}</div>
		{% endif %}
	</div>
	
	<!-- Menu Modal -->
	<div class="modal fade" id="menuModal" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog modal-fullscreen modal-dialog-scrollable modal-menu">
			<div class="modal-content">
				<div class="modal-header reg">
					{% if userid %}
					<h6>Welcome {{ uname }}</h6>
					{% else %}
					<button type="button" class="btn btn-primary rm-shadow" data-bs-toggle="modal" data-bs-target="#registerModal">Register</button>
					{% endif %}
				</div>
				<div class="modal-body">
					<button type="button" onclick="redirect_if_logged_in('/cart');" class="option">Cart</button>
					<button type="button" class="option">Wishlist</button>
					<button type="button" class="option">Orders</button>
				</div>
			</div>
		</div>
	</div>

	{% block body %} {% endblock %}

	<!-- Login Modal -->
	<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="loginModalLabel">Login</h5>
					<button type="button" class="btn-close rm-shadow" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="alert alert-danger alert-dismissible fade show" id="login-error" role="alert" style="display: none;">
						<span id="login-error-msg"></span>
						<button type="button" class="btn-close rm-shadow" onclick="hide_error_msg('login-error', 'login-error-msg');"></button>
					</div>

					<div class="mb-3">
						<label for="login-email" class="form-label">Email:</label>
						<input type="email" class="form-control rm-shadow input-border" id="login-email" name="login-email" placeholder="Enter email">
					</div>
					<div class="mb-3">
						<label for="login-pwd" class="form-label">Password:</label>
						<input type="password" class="form-control rm-shadow input-border" id="login-pwd" name="login-pwd" placeholder="Enter password">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary rm-shadow" data-bs-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary rm-shadow" onclick="login('login-error', 'login-error-msg');">Login</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Register Modal -->
	<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="registerModalLabel">Register</h5>
					<button type="button" class="btn-close rm-shadow" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="alert alert-danger alert-dismissible fade show" id="reg-error" role="alert" style="display: none;">
						<span id="reg-error-msg"></span>
						<button type="button" class="btn-close rm-shadow" onclick="hide_error_msg('reg-error', 'reg-error-msg');"></button>
					</div>

					<div class="mb-3">
						<label for="reg-name" class="form-label">Name:</label>
						<input type="text" class="form-control rm-shadow input-border" id="reg-name" name="reg-name" placeholder="Enter name">
					</div>
					<div class="mb-3">
						<label for="reg-email" class="form-label">Email:</label>
						<input type="email" class="form-control rm-shadow input-border" id="reg-email" name="reg-email" placeholder="Enter email">
					</div>
					<div class="mb-3">
						<label for="reg-mob" class="form-label">Mobile:</label>
						<input type="text" class="form-control rm-shadow input-border" id="reg-mob" name="reg-mob" placeholder="Enter mobile no.">
					</div>
					<div class="mb-3">
						<label for="reg-pwd" class="form-label">Password:</label>
						<input type="password" class="form-control rm-shadow input-border" id="reg-pwd" name="reg-pwd" placeholder="Enter password">
					</div>
					<div class="mb-3">
						<label for="reg-cpwd" class="form-label">Confirm Password:</label>
						<input type="password" class="form-control rm-shadow input-border" id="reg-cpwd" name="reg-cpwd" placeholder="Enter password again">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary rm-shadow" data-bs-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary rm-shadow" onclick="register('reg-error', 'reg-error-msg');">Register</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<div class="footer">
		<a href="https://github.com/ayushskmaurya" target="_blank" class="footer">Developed by: Ayushkumar Maurya</a>
	</div>

	<!-- Bootstrap Script -->
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
	<!-- jQuery Script -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<!-- Script -->
	{% csrf_token %}
	<span id="is-logged-in" style="display: none;">{% if userid %}1{% else %}0{% endif %}</span>
	<script src="{% static 'js/script.js' %}"></script>
</body>
</html>
